.mainClass {
  /* background-color: black; */
  display: flex;
  justify-content: space-evenly;
  width: 18%;
}
img {
  width: 100px;
  height: 100px;
  margin-right: 15px;
}
.mainClass .mainClassRight h1,
p {
  color: white;
}
.mainClass .mainClassRight h1 {
  font-size: 3rem;
}
.countCompMainDiv {
  background: linear-gradient(180deg, #48a1c7 0%, #0b476e 100%);
  padding-bottom: 10px;
}
.countCompMappedObject {
  display: flex;
  justify-content: space-evenly;
}
