.mainClass {
  /* background-color: black; */
  display: flex;
  justify-content: space-evenly;
  width: 18%;
}
img {
  width: 100px;
  height: 100px;
  margin-right: 15px;
}
.mainClass .mainClassRight h1,
p {
  color: white;
}
.mainClass .mainClassRight h1 {
  font-size: 3rem;
}
.countCompMainDiv {
  background: linear-gradient(180deg, #48a1c7 0%, #0b476e 100%);
  padding-bottom: 10px;
}
.countCompMappedObject {
  display: flex;
  justify-content: space-evenly;
}
@media only screen and (min-width: 1001px) and (max-width: 1200px) {
  .mainClass .mainClassRight h1 {
    font-size: 1.5rem;
  }
  .mainClass .mainClassRight p {
    font-size: 0.8;
  }
  img {
    width: 70px;
    height: 70px;
    margin-right: 12px;
  }
}

@media only screen and (min-width: 751px) and (max-width: 1000px) {
  .mainClass .mainClassRight h1 {
    font-size: 1rem;
  }
  .mainClass .mainClassRight p {
    font-size: 0.75rem;
  }
  img {
    width: 55px;
    height: 55px;
    margin-right: 10px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 750px) {
  .countCompMappedObject {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .mainClass {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .mainClass .mainClassRight h1 {
    font-size: 1.5rem;
  }
  .mainClass .mainClassRight p {
    font-size: 0.8;
  }
  img {
    width: 70px;
    height: 70px;
    margin-right: 12px;
  }
  .mainClass {
    width: 100%;
  }
  .countCompMappedObject {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
}
