.countCompMainDiv {
  background: linear-gradient(180deg, #48a1c7 0%, #0b476e 100%);
  padding-bottom: 10px;
}
.countCompMappedObject {
  display: flex;
  justify-content: space-evenly;
}
@media only screen and (min-width: 401px) and (max-width: 750px) {
  .countCompMappedObject {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  .countCompMappedObject {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
}
