.countCompMainDiv {
  background: linear-gradient(180deg, #48a1c7 0%, #0b476e 100%);
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 750px) {
  .countCompMainDiv {
    display: block;
  }
}
